root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true

[*.json]
indent_size = 2
indent_style = space

[*.{js,jsx,ts,tsx}]
indent_size = 2
indent_style = space
insert_final_newline = true

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false